.our-team
    margin-top: -34.81rem
    & .col-30
        position: relative
    & .section-title
        margin-bottom: 1.3rem
        &__heading
            font-size: 1.6rem
            margin-bottom: 12px
            color: $light
    &__subtitle
        max-width: 32rem
        margin: auto
        margin-bottom: 3.1rem
        color: $light
        font-size: 1.43rem
        font-weight: 400
        line-height: 2rem
        text-align: center
        padding-left: .4rem
    & .col-30::before
            content: ''
            position: absolute
            top: -48px
            left: 0px
            width: 7.857rem
            height: 7.857rem
            z-index: 3
    & .col-30:nth-child(1)::before
            background: url('../img/our-team/001.svg') no-repeat center / cover 
    & .col-30:nth-child(2)::before
            background: url('../img/our-team/002.svg') no-repeat center / cover
    & .col-30:nth-child(3)::before
            background: url('../img/our-team/003.svg') no-repeat center / cover
    &__row
        padding-top: 2.6rem
        max-width: 90rem
        margin: auto
